html
  head
    title bricks
    link(rel="stylesheet" href="/css/main.css")

  body
    //- iframe(src="http://www.bbc.co.uk/sport/live/cricket/36211491")
    main(id="controls")
        h1 loading

    script(src="https://fb.me/react-15.1.0.js")
    script(src="https://fb.me/react-dom-15.1.0.js")
    script(src="/socket.io/socket.io.js")
    script(src="/jspm_packages/system.js")
    script(src="/config.js")
    script(src="/js/go-controls.js")
