* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

iframe, main {
  border: 0;
  width: 100%;
  height: 100%; }

main {
  position: absolute;
  top: 0;
  right: 0; }

.wall {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch; }

.brick {
  border: 2px solid tan;
  background: #aa3311;
  flex: 1 0 7%;
  height: 5%;
  opacity: 1;
  transition: opacity 0ms ease-in-out; }
  .brick:hover {
    cursor: pointer;
    background-color: grey; }
  .brick.destroyed {
    opacity: 0; }
  .brick.offset {
    position: relative;
    left: 3.5%; }

.name-entry {
  width: 100%;
  height: 50%;
  background-color: white;
  display: flex;
  align-items: center; }
  .name-entry input {
    margin: 0 auto;
    text-align: center;
    border: 0;
    background: 0;
    color: #FE4365;
    font-size: 80px; }

.submit-button {
  text-align: center;
  zoom: 2; }
